p {
	font-family: 'Dosis';
}
h3 {
	font-family: 'Opend Sans';
}
/*Header*/
header {
	background-color: #000000;
	
	
}


li{
	display: inline-block;
	padding-right: 15px; 
}
a{
	text-decoration: none;
	color: white;
}
a.enlace:hover {
	color: red;
}
.enlaceHttp {
	color: red;
}
a.enlaceHttp:hover {
	color: black;
}
a.enlacePro:hover {
	color: black;
}

hr {
	border-style: dotted;
}
.alinenext{
	display: inline-block;
}
.fondoGris {
	background-color: grey;
	padding: 0 15%;
}
.fondoWhite {
	background-color: #FFFFFF;
	padding: 0 3%;
}
/*botones*/

button {
	border: none;
}

.botonRead {
	background-color: #BDBDBD;
	color: #FFFFFF;
	border-radius: 50px 50px;
	padding: 10px;
	color: #FFFFFF;
	margin-top: 5%;

}

.botonFollow{
	background-color: red;
	color: white;
	display: inline-block;
	padding: 5px;
	margin-left: 4px;
} 
.botonFollow:hover {
	background-color: gray;
}
.lineaFoot {
	color: gray;
	border-style: solid;
	
}
.botonTop2 {
	
	padding: 2%;
	border-radius: 50%;
	background-color: black;
	position: relative;
	left: 105%;
	margin-bottom: 2%;
}
.botonTop:hover {
    background-color: red;
}


.icon {
	width: 15%;
	height: auto;
	display: inline-block;
}
.fRight {
	
	float: right;
}

/*acomodo*/
.acoRig {
	padding-left: 5%;
}

.acoLe {
	padding-left: 13%;
}
.acoLados {
	padding: 0 5%;
}
.acoTopBot {
	padding: 7% 0;
}
.pTB{
	padding: 2% 0;
}
.pdT3{
	padding-top: 3%;
}
.pdT5{
	padding-top: 5%;
}
/*Texto*/
.texRed {
	color: red;
}
.texBig {
	font-size: 125%;
}
.texChic{
	font-size: 85%;
}
.texBol {
	font-weight: 600;
}
.texMin {
	font-size: 75%; 
}
.texticon {
	font-size: 65%;
	padding-top: -2px;
}
.texTin {
	font-weight: lighter;
}


footer {
	background-color: #000000;
	padding: 5% 10%;
}
.formFoot {
	background-color: gray;
	border: none;
	color: rgba(0,0,9,0.6);
	padding: 5px;
}

.icon {
	display: inline-block;
}