* {
	font-family: 'Open Sans';
}
/*Header*/
header {
	background-color: #000000;
	padding: 15px;
	
}

/*nav*/
nav {
	margin-right: 15%;
}
li{
	display: inline-block;
	padding-right: 15px; 
}
a{
	text-decoration: none;
	color: white;
}
a.enlace:hover {
	color: red;
}
.enlaceHttp {
	color: red;
}
a.enlaceHttp:hover {
	color: black;
}
a.enlacePro:hover {
	color: black;
}

hr {
	border-style: dotted;
}

.fondoGris {
	background-color: grey;
	padding: 0 15%;
}
.fondoWhite {
	background-color: #FFFFFF;
	padding: 0 3%;
}
/*botones*/

button {
	border: none;
}

.botonRead {
	background-color: #BDBDBD;
	color: #FFFFFF;
	border-radius: 35%;
	padding: 15px;
	width: 30%;
	height: 10%;
	color: #FFFFFF;
	margin-top: 5%;

}
.botonLoad {
	background-color: grey;
	color: #FFFFFF;
	border-radius: 35%;
	padding: 5px;
	width: 20%;
	height: 15%;
	color: #FFFFFF;
	margin-bottom: 5%;

}
.botonFollow{
	background-color: red;
	color: white;
	display: inline-block;
	padding: 5px;
	margin-left: 4px;
} 
.botonFollow:hover {
	background-color: gray;
}
.lineaFoot {
	color: gray;
	border-style: solid;
	
}
.botonTop {
	height: 10%;
	width: 5%;
	position: absolute;
	left: 90%;
	top: 300%;
	border-radius: 50%;
}
.botonTop:hover {
    background-color: red;
}

img {
	width: 100%;
	height: auto;
}


.icon {
	width: 15%;
	height: auto;
	display: inline-block;
}
.iconView {
	width: 20%;
	display: inline-block;
	padding-top: 5px;

}
/*acomodo*/
.acoRig {
	padding-left: 5%;
}

.acoLe {
	padding-left: 13%;
}
.acoLados {
	padding: 0 5%;
}
.acoTopBot {
	padding: 7% 0;
}
/*Texto*/
.texRed {
	color: red;
}
.texBig {
	font-size: 125%;
}
.texChic{
	font-size: 85%;
}
.texBol {
	font-weight: 600;
}
.texMin {
	font-size: 75%; 
}
.texticon {
	font-size: 65%;
	padding-top: -2px;
}
.texTin {
	font-weight: lighter;
}

footer {
	background-color: #000000;
	padding: 5% 10%;
}
.formFoot {
	background-color: gray;
	border: none;
	color: rgba(0,0,9,0.6);
	padding: 5px;
}

.icon {
	display: inline-block;
}